.kaufman {
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 90px;
}

.kaufman::before {
    content: '';
    background-image: url("../../images/kaufman-triangle.svg");
    background-size: cover;
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    z-index: 1;
}