.header__title {
    margin: 0;
    width: 730px;
    display: flex;
    align-items: center;
    z-index: 5;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    margin-left: 64px;
  }