.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  width: 730px;
  height: 64px;
  display: flex;
  align-items: center;
  z-index: 5;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  height: 64px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__link {
  color: #2F80ED;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.content {
  box-sizing: border-box;
  margin-bottom: 0;
}

.content__description {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.description__two-columns {
  width: 80%;
  min-width: 784px;
  margin: 0 auto;
}

.two-columns__brief {
  width:  175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color:  #2f80ed;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0px;
}

.span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.digits {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: #000000;  ;
}

.digits__position {
  margin: 100px auto;
}

.digits__section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.digits__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom:  60px;
}

.table {
  width: 1100px;
}

.digits__table {
  margin: 0 auto 100px;
}

.table-row {
  display: flex;
  justify-content: space-around;
}

.digits__table-row {
  justify-content: space-between;
  margin-top: 60px;
}

.table__text_span {
  display: block;
  padding-top: 20px;
}

.digits__table-cell {
  width: 250px;
  text-align: left;
}

.table__cell_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0;
}

.table__cell_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  padding-top: 20px;
}

.feynman {
  height: 890px;
  position: relative;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}

.feyman_background-image {
  background-image: url("../images/feynman.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: inherit;
}

.feynman__title {
  width: 648px;
  margin: 100px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  padding-top: 100px;
}

.feynman__subtitle {
  margin: 70px auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  color: white;
  z-index: 1;
}

.kaufman__cell-heading {
  width: 200px;
  margin-right: 0;
  z-index: 2;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__table {
  margin: 0 auto;
}

.kaufman__section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-top: 90px;
}

.kaufman_table-row {
  margin-top: 80px;
  /* justify-content: space-evenly; */
}

.kaufman_table-row:last-of-type {
  padding-bottom: 90px;
}

.kaufman__section-subtitle {
  width: 60%;
  margin: 20px auto 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  padding-bottom: 90px;
}

.footer {
  background-color: #1f1f1f;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  flex-basis: 711px;
}

.block_footer {
  min-height: 350px;
  width: 100%;
  padding-top: 60px;
}

.footer__column_content-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-height: 350px;
}

.logo-place-footer {
  width: 183px;
  height: 35px;
}

.footer__columns {
  display: flex;
  justify-content: space-around;
  width: 90%;
  flex-basis: 711px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  align-items: flex-end;
  padding: 18px auto;
  margin-bottom: 40px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.footer__column-links {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  padding-left: 0;
}

.footer_theme_dark {
  color: white;
}

.footer__column-link {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.footer__column-link:first-of-type {
  margin-top: 20px;
}

.footer__column-link:last-of-type {
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
